.faq-component-style {
    background-image: 'assets/90cos-background.png';
    font-family: 'Open Sans';
    font-size: large;
    padding-bottom: 90px;
    padding-top: 30px;
    padding-right: 90px;
    padding-left: 90px;

    .search-box {
        width: 90%;

        ::ng-deep .mat-form-field-wrapper {
            margin-bottom: -1.25rem;
            margin-top: -1rem;
        }
    }
    // ::ng-deep .mat-form-field .mat-form-field-label {
    //     color: rgba(128, 128, 128, 0.75) !important;
    //     // color: $mainColor!important;
    // }

    // ::ng-deep .mat-form-field-underline {
    //     display: none;
    // }

    .faq-container {
        margin: 0 auto;
        width: 90%;
        border: 3px solid #808080;
        border-radius: 10px;
    }

    .faq-card {
        width: 40rem;
        margin: 2rem 0;
        height: 20vh;
        max-height: 20vh;
        border-radius: 10px;
        text-align: center;
        overflow-y: auto;

        .faq-answer {
            display: none;
        }

        .faq-question {
            vertical-align: middle;
        }

        &:hover {
            .faq-question {
                display: none;
            }
            .faq-answer {
                display: block;
                vertical-align: middle;
            }
        }
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}
