.misc-tables-component-style {
    .card {
        box-shadow: 0 3px 3px 0 #707070;
        border-radius: 10px;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 5%;
        margin-right: 5%;
        display: inline-block;
        min-width: 90%;
        max-height: fit-content;
        max-height: -moz-fit-content;
    }

    .mttl {
        width: 90%;
        height: 100%;
    }
}

// TODO: this was included for MiscTables but messes up FAQ styling (get rid of all top-level scss styles and only use within a parent scope (no unexpected styles)
// .card {
//     box-shadow: 0 3px 3px 0 #707070;
//     border-radius: 10px;
//     padding: 10px;
//     margin-top: 30px;
//     margin-bottom: 30px;
//     margin-left: 5%;
//     margin-right: 5%;
//     display: inline-block;
//     min-width: 90%;
//     max-height: fit-content;
//     max-height: -moz-fit-content;
// }

.mttl {
    width: 90%;
    height: 100%;
}

// .table td {
//     text-align: left;
//     padding: 1.2rem 1.5rem;
// }

// .table th {
//     text-align: left;
//     padding: 1.2rem 1.5rem;
// }

// tr {
//     text-align: left;
//     padding: 1.2rem 1.5rem;
// }

// th {
//     text-align: left;
//     padding: 1.2rem 1.5rem;
// }
