#oam-metrics-component {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    div.navbar {
        position: relative;
        padding: 2px;

        .form-control {
            border-radius: 0;
            height: 100%;
        }

        &.second-level {
            font-size: 10pt;
            font-family: 'Open Sans';

            .custom-mat {
                .mat-form-field-label {
                    color: rgba(128, 128, 128, 0.75) !important;
                    // color: $mainColor!important;
                }
                .mat-form-field-underline {
                    display: none;
                }
                .mat-form-field-wrapper {
                    height: 3rem;
                    margin-top: 0.75rem;
                    display: flex;
                    align-items: center;
                }
                .mat-form-field {
                    height: 4em;
                    margin-bottom: -1.5em;
                }
                .mat-select-value-text {
                    color: rgba(128, 128, 128, 0.75) !important;
                }
                .mat-select-arrow {
                    color: rgba(128, 128, 128, 0.75) !important;
                }
                .mat-standard-chip {
                    margin: 3px 3px 1px 1px;
                    font-size: smaller;
                    word-wrap: normal;
                    background-color: #0076aa;
                    color: #ffffff;
                    text-align: center;
                    font-weight: bold;
                }
            }

            #sort-select {
                margin-right: 15px;
            }
            #search-input {
                border: none;
                position: relative;
                //height: inherit;
            }

            .filter-field {
                overflow-x: hidden;
                overflow-y: auto;
            }

            .search-field {
                overflow-x: hidden;
                overflow-y: auto;
            }

            .search-boxes {
                white-space: nowrap;
                width: 90%;
            }

            #clear_filter {
                float: right;
                button {
                    background: none;
                    border: none;
                    box-shadow: none;

                    &:hover {
                        color: #39a5dc;
                    }
                }
            }

            select {
                width: 100%;
            }
        }
        &.third-level {
            display: inline-block;
            font-family: 'Open Sans';
            font-size: 1.1rem;
            padding-top: 5px;
            height: 3.5rem;

            #top-navbar-btns {
                height: 3rem;
                .navbar-nav {
                    margin-bottom: 0;
                    margin-top: 0;
                }
                button {
                    font-size: 12pt;
                    background: none;
                    border: none;
                    box-shadow: none;
                    &:hover {
                        color: #39a5dc;
                    }
                }
            }

            #coverage-legend {
                float: left;
                position: relative;
                white-space: nowrap;
                overflow-x: hidden;
                overflow-y: hidden;
                width: 65%;
                transform: translate(12.5%, 0%);
                transition: all 0.2s ease-in-out;

                span {
                    display: inline-block;
                    color: #fff;
                    height: 2.5rem;
                    font-size: 1.25rem;
                    line-height: 2.5rem;
                    text-align: center;
                    padding: 0;
                    overflow: hidden;
                }

                .empty-metric {
                    background-color: none;
                }

                .training-and-eval {
                    background-color: #6ec664;
                    .desc {
                        display: none;
                    }
                    &:hover {
                        cursor: pointer;
                        border: 2px solid rgba(0, 0, 0, 0.2);
                        filter: brightness(0.9);
                        transform: scale(1.05, 1.25);
                        .desc {
                            transform: scale(1, 0.8);
                            display: inline-block;
                        }
                        .percentage {
                            display: none;
                        }
                    }
                }

                .training-only {
                    background-color: #0066cc;
                    &:hover {
                        cursor: pointer;
                        filter: brightness(0.9);
                        border: 2px solid rgba(0, 0, 0, 0.2);
                        transform: scale(1.05, 1.25);
                        .desc {
                            transform: scale(1, 0.8);
                            display: inline-block;
                        }
                        .percentage {
                            display: none;
                        }
                    }
                }
                .eval-only {
                    background-color: #f0ab00;
                    &:hover {
                        cursor: pointer;
                        filter: brightness(0.9);
                        border: 2px solid rgba(0, 0, 0, 0.2);
                        transform: scale(1.05, 1.25);
                        .desc {
                            transform: scale(1, 0.8);
                            display: inline-block;
                        }
                        .percentage {
                            display: none;
                        }
                    }
                }
                .no-training-and-eval {
                    background-color: #808080;
                    &:hover {
                        cursor: pointer;
                        filter: brightness(0.9);
                        border: 2px solid rgba(0, 0, 0, 0.2);
                        transform: scale(1.05, 1.25);
                        .desc {
                            display: inline-block;
                            transform: scale(1, 0.8);
                        }
                        .percentage {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    table {
        font-size: 1.1rem;

        thead {
            tr {
                //Code to control table column width to facilitate the opening/closing of detail panes without js
                display: grid;
                grid-template-columns: 12% 12% 19% 19% 19% 19%;
                justify-content: flex-start;
                th {
                    text-align: center;
                }
                .header-selectable {
                    &:hover {
                        color: #39a5dc;
                        cursor: pointer;
                    }
                }
            }
        }
        tbody {
            &.mttl-content {
                border: none;
            }
            tr {
                display: grid;
                //grid-template-columns: 3% 2% 9% 16% 8% 8% 10% 7% 7% 10% 7% 1% 2% 7% 1% 2%;
                grid-template-columns: 12% 12% 19% 19% 19% 19%;
                //grid-template-columns: 3% 10% 5% 15% 5% 25% 3% 25% 1%;
                //grid-template-columns: repeat(10, 1fr);
                justify-content: flex-start;
                align-items: center;
                justify-items: center;

                //Hiding control radio buttons
                input[type='checkbox'] {
                    display: none;
                }

                .clickable-filter {
                    cursor: pointer;
                    text-decoration: underline;
                    &:hover {
                        color: #39a5dc;
                    }
                }

                td {
                    padding: 0.13rem 0.7rem;
                    vertical-align: middle;
                    align-items: center;
                    justify-items: center;
                    text-align: center;
                    label {
                        overflow-y: auto;
                    }

                    span.coverage {
                        display: inline-block;
                        width: 10px;
                        height: 65px;
                        vertical-align: middle;

                        //training and eval color definitions
                        &.training-and-eval {
                            background-color: #6ec664;
                            .coverage-desc {
                                display: none;
                            }
                            &:hover {
                                cursor: pointer;
                                width: 100%;
                                .coverage-desc {
                                    font-size: x-large;
                                    font-weight: bold;
                                    display: block;
                                    margin: 15px 7px 0 7px;
                                }
                            }
                        }
                        &.training-no-eval {
                            background-color: #0066cc;
                            .coverage-desc {
                                display: none;
                            }
                            &:hover {
                                cursor: pointer;
                                width: 100%;
                                .coverage-desc {
                                    font-size: x-large;
                                    font-weight: bold;
                                    display: block;
                                    margin-top: 15px;
                                }
                            }
                        }
                        &.eval-no-training {
                            background-color: #f0ab00;
                            .coverage-desc {
                                display: none;
                            }
                            &:hover {
                                cursor: pointer;
                                width: 100%;
                                .coverage-desc {
                                    font-size: x-large;
                                    font-weight: bold;
                                    display: block;
                                    margin-top: 15px;
                                }
                            }
                        }
                        &.no-coverage {
                            background-color: #808080;
                            .coverage-desc {
                                display: none;
                            }
                            &:hover {
                                cursor: pointer;
                                width: 100%;
                                .coverage-desc {
                                    font-size: x-large;
                                    font-weight: bold;
                                    display: block;
                                    margin-top: 15px;
                                }
                            }
                        }
                    }
                    &#ksat-id {
                        font-weight: 700;
                    }
                    &.label-expander {
                        cursor: pointer;
                        padding: 0;
                        border-top: 2px solid transparent;

                        label {
                            overflow-y: auto;
                            overflow-x: hidden;
                            word-wrap: break-word;
                            width: 100%;
                            cursor: pointer;
                            padding: 0 15px;
                            font-weight: 700;
                        }
                        &:hover {
                            color: #39a5dc;
                        }
                    }
                    &.expanded-row-content {
                        border-top: none;
                        display: none;
                        //meat and potatoes for expanding row functionality
                        grid-column: 1/-1;
                        color: #aeb1b3;
                        font-size: 13px;
                        background: transparent;
                        width: 100%;
                        padding: 0;

                        //Control for expanding detail pane
                        div.table-overflow-y {
                            float: right;
                            overflow-y: auto;
                            max-height: 50px;
                            width: 90%;
                        }

                        .add-button {
                            float: left;
                            background: none;
                            box-shadow: none;
                            font-size: 1.25rem;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    //Code for finding children of checked radio buttons
    .id-check:checked ~ .expanded-row-content.ksat-id {
        display: inline-block;
    }
    .child-check:checked ~ .expanded-row-content.children {
        display: inline-block;
    }
    .parent-check:checked ~ .expanded-row-content.parent {
        display: inline-block;
    }
    .training-check:checked ~ .expanded-row-content.training {
        display: inline-block;
    }
    .evals-check:checked ~ .expanded-row-content.evals {
        display: inline-block;
    }

    //Adding visual styles for expanded labels
    .id-check:checked ~ .label-expander .check-id-label {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 4px solid #39a5dc;
        border-bottom: none;
    }
    .child-check:checked ~ .label-expander .check-child-label {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 4px solid #39a5dc;
        border-bottom: none;
    }
    .parent-check:checked ~ .label-expander .check-parent-label {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 4px solid #39a5dc;
        border-bottom: none;
    }
    .training-check:checked ~ .label-expander .check-training-label {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 4px solid #39a5dc;
        border-bottom: none;
    }
    .evals-check:checked ~ .label-expander .check-evals-label {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 4px solid #39a5dc;
        border-bottom: none;
    }

    .mttl-table {
        flex: 1 1 auto;
        overflow-y: auto;
    }
    .footer {
        flex: 0 1 40px;
        margin-bottom: 1rem;
    }

    .card-icon {
        font-size: large;
        font-weight: bolder;
        color: white;
    }

    .parent-child-card {
        text-align: left;
        h2 {
            font-size: medium;
            font-weight: bold;
            display: block;
            width: 100%;
        }
        &:hover {
            h2,
            p {
                color: #39a5dc;
            }
            cursor: pointer;
        }
    }

    .rel-link-card {
        text-align: center;
        width: 95%;
        h2 {
            font-size: medium;
            font-weight: bold;
            display: block;
            width: 100%;
        }
        a {
            font-size: medium;
            font-weight: bold;
            display: block;
            width: 100%;
            color: none;
        }

        &:hover {
            color: #39a5dc;
            cursor: pointer;
        }
    }

    .card-info {
        &::-webkit-scrollbar-track {
            border: none;
        }
        height: 50px;
        max-height: 50px;
        overflow-y: scroll;
        border: none;
        opacity: 0.8;
        scrollbar-color: #808080 transparent;
    }

    a:hover,
    a:visited,
    a:link,
    a:active {
        text-decoration: none;
    }

    .plus-button {
        padding: 0;
        margin: 0;
        &:hover {
            color: #39a5dc;
        }
    }

    .search-autocomplete {
        overflow-y: scroll;
        background-color: #808080;
        color: black;
    }

    .chip-list {
        font-family: 'Open Sans';
    }

    .carousel-caption {
        color: rgba(128, 128, 128, 0.75);
        transform: translate(60%, -100%);
    }

    .link-carousel-caption {
        float: right;
        display: relative;
        color: rgba(128, 128, 128, 0.75);
        transform: translate(0%, -25%);
    }

    .vert-divider {
        margin-left: 10px;
        margin-right: 15px;
        border-width: 1px;
        height: 90%;
    }

    #footer {
        height: 100px;
        margin-left: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;

        .size-controller {
            float: right;
            width: 100px;
            margin-top: -5px;
            margin-left: 3px;
        }
        .pagination {
            margin-top: 10px;
        }
    }
}
