.all-metrics-component-style {
    .coverage_container {
        box-shadow: 0 3px 3px 0 #707070;
        border-radius: 10px;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .data_canvas {
        height: 5rem;
    }

    #coverage_selector {
        label {
            float: left;
            margin: 7px 5px;
        }
        select {
            width: auto;
        }
    }
    .form-control {
        display: inline-block;
        border-radius: 0;
        width: auto;
    }

    .coverage_info {
        width: auto;
        h3 {
            float: left;
            font-size: x-large;
        }
        i {
            float: right;
            padding: 1.5rem 1rem 0 0;
            &:hover {
                color: #39a5dc;
            }
        }
    }
    [hidden] {
        display: none !important;
    }

    .key {
        display: inline-grid;
        width: 100%;
        grid-template-columns: auto auto auto auto;
        align-items: center;

        .coverage_key {
            display: inline-flex;
            text-align: center;
            align-self: center;
            margin: 0;
        }

        .keyText {
            margin: 0;
        }

        .box {
            margin-top: 5px;
            margin-right: 2rem;
            height: 30px;
            width: 30px;
            border: 2px solid rgba(0, 0, 0, 0.2);
        }

        .CoveredBox {
            background-color: #6ec664;
        }

        .TrnBox {
            background-color: #0066cc;
        }

        .EvalBox {
            background-color: #f0ab00;
        }
        .NoCoverageBox {
            background-color: #707070;
        }
    }
}
