.homepage-component-style {
    #homepage {
        font-family: 'Open Sans';
        padding-bottom: 90px;
    }
    #info {
        margin-left: 36px;
        margin-bottom: 36px;
        padding-bottom: 36px;
    }

    #contactUs {
        text-decoration: underline;
        color: inherit;
    }

    #externalLinks {
        text-decoration: underline;
        color: inherit;
    }

    span {
        cursor: pointer;
    }

    h1 {
        text-align: center;
        img {
            display: inline;
            margin: -20px 0;
        }
    }

    h2 {
        text-align: center;
        img {
            display: inline;
            margin: -20px 0;
        }
    }

    h3 {
        text-align: center;
        img {
            display: inline;
            margin: -20px 0;
        }
    }

    h4 {
        text-align: center;
        img {
            display: inline;
            margin: -20px 0;
        }
    }

    p {
        text-align: center;
        font-size: 18px;
        img {
            display: inline;
            margin: -20px 0;
        }
    }

    a {
        color: inherit;
    }

    img {
        display: block;
        margin: 0 auto 20px;
    }

    .btn.btn-link {
        color: inherit;
    }

    .contact {
        margin-left: auto;
        display: float;
        float: right;
        // margin-left: auto;
        margin-right: 0;
        right: 0;
    }

    span:hover {
        color: rgb(0, 140, 255) !important;
    }
}
