.app-component-style {
    a {
        text-align: center;
        color: inherit;
    }

    .main-title {
        position: relative;
    }
    .navbar-brand {
        margin-top: 0 !important;
    }
    .darkness-icon {
        position: absolute;
        margin: 0 !important;
        top: 5%;
        right: -10px;
    }

    .dropdown-submenu .sub-menu {
        left: 100%;
        position: absolute;
        visibility: hidden;
        margin: -25px 0 0 0;
    }

    .dropdown-submenu {
        &:hover > .sub-menu {
            visibility: visible;
            display: block;
        }
    }

    #contact-us-cursor {
        cursor: pointer;
    }
}

// // Pagination Overrides
// .ngx-pagination {
//     float: right;
//     margin-top: 1rem;
//     li {
//         margin-right: 0.75rem !important;

//         a {
//             background-color: #242424 !important;
//             padding: 0.75rem 1.5rem;
//             color: white;

//             span {
//                 color: white !important;
//             }
//         }
//         &.current {
//             padding: 0.75rem 1.5rem;
//         }
//         &.pagination-previous {
//             margin-right: 0.75rem;
//         }
//         &.disabled {
//             color: rgba(255, 255, 255, 0.3);
//         }
//     }
// }
