#carousel-filter {
    display: flex;
    flex-flow: column;
    position: relative;
    // resize: both;
    min-height: 105px;
    min-width: 250px;
    max-width: 80vw;
    max-height: 80vh;
    overflow: hidden;
    background: #fff;
    margin: -19px !important;
    // margin: -10px -24px -24px -24px !important;
    height: 100%;

    .buttons {
        bottom: 0;
        right: 0;
        text-align: right;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    // .mat-button{
    //     margin-right: 5px;
    // }
    .mat-dialog-actions {
        margin-bottom: -24px;
        margin-bottom: -14px;
    }
    h2 {
        margin-bottom: 25px;
        font-weight: bold;
    }

    mat-slide-toggle {
        margin-left: 15px;
    }

    mat-option-text {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    .mat-dialog-actions {
        margin-bottom: -14px;
    }

    mat-form-field-appearance-fill .mat-form-field-infix {
        padding: 10px 1px 0.75em 70px;
    }
    .actions {
        display: inline-block;
        width: 100%;
        height: 10%;
        background-color: #fff;
    }
    .title {
        flex: 0 1 auto;
        text-align: center;
        margin-top: 15px;
    }
}
