#roadmap_component {
    font-family: 'Open Sans';
    .form-control {
        display: inline-block;
        border-radius: 0;
        width: auto;
    }

    .top-bar {
        padding: 3rem;
    }
    .title-text {
        display: inline;
        font-size: x-large;
    }

    .title-form {
        display: inline;
        float: right;
    }

    .resource-wrapper {
        margin: 0 auto;
        width: 90%;
        height: 95%;
        border: 3px solid #808080;
        border-radius: 10px;
        overflow-y: auto;
    }

    .prereqs-upgrades {
        padding: 2rem 5rem 0 2rem;
    }

    .prereqs {
        display: inline;
        float: left;
        h3 {
            margin: 0 0 1.5rem 0;
            text-align: right;
            font-size: x-large;
        }
    }

    .upgrades {
        display: inline;
        float: right;
        h3 {
            margin: 0 0 1.5rem 0;
            text-align: right;
            font-size: x-large;
        }
    }

    .roadmap-buttons {
        float: left;
    }

    .roadmap-button {
        margin: 0 0 0 1.5rem;
        font-size: large;
        &:hover {
            color: #39a5dc;
        }
    }

    .link-button {
        float: right;
        font-size: larger;
        background: none;
        border: none;
        box-shadow: none;
        margin: 0.5rem 2rem 1rem 0;
        &:hover {
            color: #39a5dc;
        }
    }
    .resource-card {
        width: 40rem;
        margin: 2rem 0;
        height: 30vh;
        border-radius: 10px;
        overflow-y: auto;

        h3 {
            padding: 0.5rem 0 0 2rem;
            font-size: larger;
            margin-bottom: 1rem;
        }

        hr {
            width: 75%;
            background-color: #808080;
            margin: 0 0 0 2rem;
        }

        h4 {
            font-size: x-small;
            margin: 0.2rem 0 0 2rem;
        }
    }

    .d3-box {
        width: fit-content;
        padding: 0;
        overflow: hidden;
        margin-top: 10px;
        border-radius: 5px;
        border: 5px solid black;
    }
    .d3-roadmap-box {
        width: 80vw;
        height: 35vw;
        background-color: #eee;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 15px;
        border: 3px solid black;
    }

    .wr-roadmap-titlebar {
        display: grid;
        grid-template-areas: 'a b c c c c d e';
        align-items: start;

        .title {
            font-size: x-large;
            grid-area: b;
        }
        .back-button {
            grid-area: d;
            margin-top: 15px;
            width: 100%;
        }
    }

    .wr-info {
        width: 90vw;
        margin: auto;

        h2 {
            font-size: x-large;
        }
    }

    .info-hr {
        margin: 0;
        margin-top: -5px;
        width: 50%;
        height: 3px;
    }

    .step-hr {
        margin: 0;
        margin-top: -15px;
        width: 50%;
        height: 3px;
    }

    .wr-name {
        color: #808080;
        margin-top: -20px;
    }
}

#cy {
    margin: 0;
    height: 60vh;
    width: 60vw;
    background-color: #eee;
    padding: 0;
    overflow: hidden;
}

.container {
    overflow-x: hidden;
    background-color: #eee;
}
