.disclaimer-component {
    font-family: 'Open Sans';
    padding-bottom: 90px;
    margin-left: 36px;
    margin-right: 90px;

    #contactUs {
        text-decoration: underline;
        color: inherit;
    }
}
