.icon-button {
    border: none;
    background: none;
    color: #535556;
    cursor: pointer;
    &:hover {
        color: #39a5dc;
    }
}

.remove-filter {
    cursor: pointer;
    &:hover {
        color: red;
    }
}

.filter-size {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}
