.page-not-found-component {
    #page-not-found {
        //Colors have been disabled for darkmode
        font-family: 'Times', serif;
        background-color: #43464b;
    }

    a {
        color: #1890ff;
    }

    span {
        color: #43464b;
    }

    h1 {
        text-align: center;
        // color:#fff;
        img {
            display: inline;
            margin: -20px 0;
        }
    }
    h2 {
        text-align: center;
        //color:#fff;
        img {
            display: inline;
            margin: -20px 0;
        }
    }
    h3 {
        text-align: center;
        //color:#f5f5f5c2;
        img {
            display: inline;
            margin: -20px 0;
        }
    }
    h4 {
        text-align: center;
        img {
            display: inline;
            margin: -20px 0;
        }
    }
    p {
        text-align: center;
        font-size: 18px;
        //color:#fff;
        img {
            display: inline;
            margin: -20px 0;
        }
    }

    img {
        display: block;
        margin: 0 auto 20px;
    }
}
