#mttl-component {
    // overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    div.navbar {
        position: relative;
        padding: 0;
        .form-control {
            border-radius: 0;
            height: 100%;
        }
        &.second-level {
            font-size: 10pt;
            font-family: 'Open Sans';
            .custom-mat {
                .mat-form-field-label {
                    color: rgba(128, 128, 128, 0.75) !important;
                    // color: $mainColor!important;
                }
                .mat-form-field-underline {
                    display: none;
                }
                .mat-form-field-wrapper {
                    height: 3.5rem;
                    margin-top: 0.75rem;
                    display: flex;
                    align-items: center;
                }
                .mat-form-field {
                    height: 2em;
                    margin-bottom: -1.5em;
                }
                .mat-select-value-text {
                    color: rgba(128, 128, 128, 0.75) !important;
                }
                .mat-select-arrow {
                    color: rgba(128, 128, 128, 0.75) !important;
                }
                .mat-standard-chip {
                    margin: 3px 3px 1px 1px;
                    font-size: smaller;
                    word-wrap: normal;
                    background-color: #0076aa;
                    color: #ffffff;
                    text-align: center;
                    font-weight: bold;
                }
            }
            #sort-select {
                margin-right: 15px;
            }
            #search-input {
                border: none;
                position: relative;
                height: inherit;
            }
            .filter-field {
                overflow-x: hidden;
                overflow-y: auto;
            }
            .search-field {
                overflow-x: hidden;
                overflow-y: auto;
            }
            .search-boxes {
                white-space: nowrap;
                width: 90%;
            }
            #clear_filter {
                float: right;
                button {
                    background: none;
                    border: none;
                    box-shadow: none;
                    &:hover {
                        color: #39a5dc;
                    }
                }
            }
            select {
                width: 100%;
            }
        }
        &.third-level {
            display: inline-block;
            font-family: 'Open Sans';
            font-size: 1.1rem;
            padding-top: 5px;
            // height: 3.5rem;
            #top-navbar-btns {
                height: 3rem;
                .navbar-nav {
                    margin-bottom: 0;
                    margin-top: 0;
                }
                button {
                    font-size: 12pt;
                    background: none;
                    border: none;
                    box-shadow: none;
                    &:hover {
                        color: #39a5dc;
                    }
                    .codebutton {
                        font-size: 0.5em;
                        vertical-align: sub;
                        transform: translate(25%, 20%);
                    }
                }
            }
            #coverage-legend {
                float: left;
                position: relative;
                white-space: nowrap;
                // overflow-x: hidden;
                // overflow-y: hidden;
                height: 50px;
                width: 65%;
                transform: translate(12.5%, 0%);
                transition: all 0.2s ease-in-out;
                span {
                    display: inline-block;
                    color: #fff;
                    height: 2.5rem;
                    font-size: 1.25rem;
                    line-height: 2.5rem;
                    text-align: center;
                    padding: 0;
                    overflow: hidden;
                    margin-top: 6px;
                }
                .empty-metric {
                    background-color: none;
                }
                .training-and-eval {
                    background-color: #6ec664;
                    .desc {
                        display: none;
                    }
                    &:hover {
                        cursor: pointer;
                        border: 2px solid rgba(0, 0, 0, 0.2);
                        filter: brightness(0.9);
                        transform: scale(1.05, 1.25);
                        .desc {
                            transform: scale(1, 0.8);
                            display: inline-block;
                        }
                        .percentage {
                            display: none;
                        }
                    }
                }
                .training-only {
                    background-color: #0066cc;
                    &:hover {
                        cursor: pointer;
                        filter: brightness(0.9);
                        border: 2px solid rgba(0, 0, 0, 0.2);
                        transform: scale(1.05, 1.25);
                        .desc {
                            transform: scale(1, 0.8);
                            display: inline-block;
                        }
                        .percentage {
                            display: none;
                        }
                    }
                }
                .eval-only {
                    background-color: #f0ab00;
                    &:hover {
                        cursor: pointer;
                        filter: brightness(0.9);
                        border: 2px solid rgba(0, 0, 0, 0.2);
                        transform: scale(1.05, 1.25);
                        .desc {
                            transform: scale(1, 0.8);
                            display: inline-block;
                        }
                        .percentage {
                            display: none;
                        }
                    }
                }
                .no-training-and-eval {
                    background-color: #808080;
                    &:hover {
                        cursor: pointer;
                        filter: brightness(0.9);
                        border: 2px solid rgba(0, 0, 0, 0.2);
                        transform: scale(1.05, 1.25);
                        .desc {
                            display: inline-block;
                            transform: scale(1, 0.8);
                        }
                        .percentage {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    //                        _         _
    //  _ __   __ _       ___| |_ _   _| | ___
    // | '_ \ / _` |_____/ __| __| | | | |/ _ \
    // | | | | (_| |_____\__ \ |_| |_| | |  __/
    // |_| |_|\__, |     |___/\__|\__, |_|\___|
    //        |___/               |___/
    table {
        min-width: 100%;
        font-size: 1.1rem;
        z-index: -1;
        overflow-x: scroll;
        overflow-y: auto !important;
    }
    th {
        vertical-align: center;
        // background-color: white;
        max-height: 2px;
        height: 2px;
        min-height: 2px;
        // padding-bottom: 0;
    }
    .mat-header-row {
        // position: sticky;
        // sticky: true;
        vertical-align: top !important;
        max-height: 95px !important;
        top: 0;
        z-index: -100 !important;
    }
    .mat-table {
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
        background-color: inherit;
        color: inherit !important;
        min-width: 100%;
        height: 100%;
    }
    .alt-color {
        color: white;
    }

    .expandable {
        font: bold;
        font-weight: 700;
        vertical-align: center;
    }
    .header-selectable {
        max-height: 2px !important;
        height: 2px;
        min-height: 2px;
        align-items: center;
        justify-items: center;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 5px;
        margin-top: 2px;
        margin-bottom: 2px;
        text-align: center;
        color: inherit;
        word-wrap: none;
        border-bottom: none;
        word-break: none;
        white-space: nowrap;
        // z-index: -10;
    }
    .clickable-filter {
        text-decoration: underline;
        &:hover {
            color: #39a5dc;
            cursor: pointer;
        }
    }

    .mat-cell {
        height: 0;
        // min-height: 0;
        font-size: 1.1rem;
        // padding: 0px 0px 0px 0;
        color: inherit !important;
    }
    .popup-row {
        border-bottom-style: none;
        vertical-align: top;
        // max-height: 0;
    }
    td.mat-cell {
        border-bottom-style: none;
        padding-left: 5px;
        padding-right: 5px;
        cursor: default !important;
        // flex: none;
    }
    // .mat-row:nth-child(2n + 1) {
    //     height: 0;
    //     min-height: 0;
    // }
    .mat-row:nth-child(2n + 2) {
        height: 0;
        min-height: 0;
    }

    .mat-row:nth-child(4n - 3) {
        background-color: #00000015;
    }
    // .dark-mode .mat-row:nth-child(4n - 3) {
    //     background-color:#1f2225;
    // }

    .mat-header-cell {
        font-weight: bold !important;
        height: 2px !important;
        max-height: 2px !important;
    }

    td.mat-column-cell {
        max-height: 65px !important;
        height: 65px;
        min-height: 65px !important;
        // padding: 0 0 0 0;
    }
    th.mat-column-coverage {
        border: none;
    }

    td.mat-column-coverage {
        // flex-shrink: 1;
        align-self: stretch;
        vertical-align: center;
        width: 50px;
        max-width: 50px;
        min-width: 50px;
        border-top: none;
        // height: 75px;
        max-height: 63px;
        // min-height: 100%;
        justify-self: stretch;
    }
    td.mat-column-edit_ksat {
        text-align: left;
        justify-content: flex-start;
        max-width: 9px;
        min-height: 100%;
        border-style: none;
        height: 65px;
        min-height: 65px;
        max-height: 65px;
    }
    td.mat-row {
        height: 65px;
        min-height: 65px;
        max-height: 65px;
    }
    td.mat-row-cell {
        height: 65px;
        min-height: 65px;
        max-height: 65px;
        vertical-align: middle;
        align-items: center;
        justify-items: center;
        text-align: center;
    }
    .mat-header-coverage {
        border: none;
    }
    .mat-header-ksat_id {
        text-align: center;
        word-break: none;
        white-space: nowrap;
    }
    td.mat-column-ksat_id {
        word-break: none;
        white-space: nowrap;
        text-align: center;
        font-weight: 700;
        padding-left: 1rem;
        padding-right: 2rem;
        padding-bottom: 0;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
        // height: 65px;
        // min-height: 65px;
        // max-height: 65px;
    }
    .mat-column-ksat_id {
        width: 95px;
        max-width: 95px;
    }
    .long_text {
        background-color: #0066cc;
        -moz-transform: scale(0.75);
    }

    .mat-column-description {
        min-width: 20vw !important;
    }

    td.mat-column-description {
        margin-right: 5px;
        margin-bottom: 2px;
        padding-left: 5px;
        margin-left: 10px;
        padding-right: 10px;
        // min-width: 36rem;
        // width: 36rem;
        min-width: 14vw;
        width: 16vw;
        // max-width: 36rem !important;
        text-align: center !important;
        max-height: 65px;
        min-height: 65px;
        overflow-wrap: break-word;
        box-sizing: content-box;
        align-content: center !important;
    }
    .long_topic {
        position: relative;
        top: -10px;
    }

    .mat-column-topic {
        min-width: 12vw !important;
    }
    td.mat-column-topic {
        vertical-align: center;
        justify-content: center;
        padding-left: 2px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        word-wrap: normal;
        width: 12vw;
        min-width: 12vw;
        padding-bottom: 0em;
        padding-bottom: 0px;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 5px;
        padding-right: 5px;
    }

    td.mat-column-oam {
        vertical-align: center;
        justify-content: center;
        padding-left: 2px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        word-wrap: normal;
        width: 12vw;
        min-width: 12vw;
        padding-bottom: 0em;
        padding-bottom: 0px;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 5px;
        padding-right: 5px;
    }

    .mat-column-work_roles {
        text-align: center;
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
        // width: 95px;
        width: 8vw;
        // max-width: 95px;
    }
    td {
        max-height: 65px;
    }

    .mat-column-proficiency_data {
        text-align: center;
        justify-content: center;
        padding-left: 5px;
        padding-right: 5px;
        // width: 95px;
        min-width: 9vw;
        // max-width: 95px;
    }
    td {
        max-height: 65px;
    }

    .mat-column-work_roles {
        min-width: 8vw !important;
    }

    td.mat-column-work_roles {
        overflow: hidden;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        margin-right: 5px;
        // width: 125px;
        width: 8vw;
    }

    .mat-column-requirement_owner {
        min-width: 10vw !important;
    }
    td.mat-column-requirement_owner {
        overflow: hidden;
        text-align: center;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        min-width: 10vw !important;
    }

    .mat-column-requirement_src {
        min-width: 8vw !important;
    }

    td.mat-column-requirement_src {
        overflow: hidden;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        margin-right: 5px;
        // width: 125px;
        width: 12vw;
        min-width: 8vw !important;
    }

    .mat-column-courses {
        min-width: 8vw !important;
    }

    td.mat-column-courses {
        overflow: hidden;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 5px;
        margin-right: 5px;
        // width: 125px;
        width: 12vw;
        min-width: 8vw !important;
    }

    .mat-column-child_count {
        min-width: 6vw !important;
    }
    td.mat-column-child_count {
        text-align: center;
        justify-content: center;
        word-break: none;
        white-space: nowrap;
        width: 6vw;
        // min-width: 125px;
        margin-right: 5px;
        margin-left: 10px;
        &:hover {
            color: #39a5dc;
        }
    }
    .mat-column-parent_count {
        min-width: 8vw !important;
    }
    td.mat-column-parent_count {
        text-align: center;
        justify-content: center;
        word-break: none;
        white-space: nowrap;
        min-width: 8vw !important;
        width: 8vw;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 10px;
    }
    td.mat-column-parent_count:hover {
        color: #39a5dc;
        cursor: unset;
    }
    td.mat-column-training_count:hover {
        color: #39a5dc;
        cursor: unset;
    }
    .mat-column-training_count {
        min-width: 6vw !important;
    }
    td.mat-column-training_count {
        text-align: center;
        justify-content: center;
        word-break: none;
        white-space: nowrap;
        // width: 125px;
        width: 6vw;
        min-width: 125px !important;
    }

    th.mat-column-add_training {
        border: none;
    }
    th.mat-column-add_eval {
        border: none;
    }
    .mat-column-eval_count {
        width: 8vw;
    }

    td.mat-column-eval_count {
        text-align: center;
        justify-content: center;
        word-break: none;
        white-space: nowrap;
        min-width: max-content;
        width: 8vw;
        min-width: 125px !important;
        padding-left: 2rem;
        padding-right: 1rem;
        margin-right: 2px;
        margin-left: 5px;
    }
    td.mat-column-add_training {
        text-align: left;
        padding-left: 2px;
        border-style: none;
    }
    td.mat-column-add_eval {
        text-align: left;
        margin: 0;
        margin-left: 2px;
        padding: 0;
        border-style: none;
        margin-right: -2px;
    }
    .mat-column-OID {
        width: 15rem;
        max-width: 20rem;
        min-width: 20rem;
    }
    td.mat-column-OID {
        text-align: center;
        max-height: 65px;
        word-wrap: break-word;
        align-self: stretch;
        overflow-wrap: break-word;
        word-break: break-all;
        padding-left: 5px;
        padding-right: 5px;
    }
    .mat-column-requirement_src {
        text-align: center;
        justify-content: center;
        align-self: stretch;
        padding-left: 7px;
        width: 95px;
        max-width: 95px;
    }
    .mat-column-requirement_owner {
        text-align: center;
        justify-content: center;
        align-self: stretch;
        padding-left: 5px;
        padding-right: 5px;
    }
    .mat-header-theEnd {
        display: stretch;
        align-self: stretch;
        height: 15px;
        max-height: 15px;
        min-height: 15px;
    }
    tr.mat-header-cell {
        min-height: 3px;
    }
    td .mat-column-theEnd {
        display: flex;
        align-items: stretch !important;
        flex: 1 0;
        max-width: 2vw;
        overflow: hidden;
        justify-self: stretch;
        word-break: break-all;
        align-content: stretch;
        border: none;
    }
    .mat-column-comments {
        width: 300px;
    }
    td.mat-column-comments {
        min-width: 300px;
        overflow-y: hidden;
        max-height: 65px;
        min-height: 65px;
        vertical-align: center;
        white-space: unset !important;
        vertical-align: center;
        overflow-wrap: normal;
        word-break: normal;
        overflow-y: hidden;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    mat-header-cell {
        justify-content: center;
    }
    //     .mat-row {
    //         width: 100%;
    //         border: 0 0 0 0;
    //         vertical-align: text-top;
    //         // display: inline-block;
    //         // height: auto;
    //     }
    //     .mat-row-cell {
    //         max-height: 65px;
    //     }

    // .mat-column-childDetail {
    //   border: 0 0 0 0;
    //   padding: 0 0 0 0;
    //   height: 0;
    //   border-bottom-width: 0px;
    // }

    // .mat-column-parentDetail {
    //     border: 0 0 0 0;
    //   padding: 0 0 0 0;
    //   height: 0;
    //   border-bottom-width: 0px;
    // }

    // .cdk-column-trainingDetail {
    //     border: 0 0 0 0;
    //     padding: 0 0 0 0;
    //     height: 0;
    //     border-bottom-width: 0px;
    // }

    // .cdk-column-evalDetail {
    //     border: 0 0 0 0;
    //     padding: 0 0 0 0;
    //     height: 0;
    //     border-bottom-width: 0px;
    // }

    // .cdk-column-trainingDetail {
    //     border: 0 0 0 0;
    //     padding: 0 0 0 0;
    //     height: 0;
    //     border-bottom-width: 0px;
    // }

    // tr {
    //     height: 0;
    //     border: 0 0 0 0;
    //     padding: 0 0 0 0;
    // }

    .carousel {
        // max-width: 2000px;
        border: 0 0 0 0;
        // display: block;
        width: 90vw;
        max-width: 100vw;
        max-height: 300px;
        // vertical-align: text-top;
        // margin-right: 500px;
        // margin-left: 200px;
        // background-color: #0066cc;
        // padding: 0;
    }

    .coverage {
        display: inline-block;
        width: 10px;
        vertical-align: middle;
        height: 63px;
        margin-top: 5px;
        margin-bottom: 2px;
        /* For Firefox */
        // -moz-height: 75px;
        // -moz-transform: scaleY(1.2);
        // -moz-transform: translateY(7px);
        -moz-box-sizing: border-box;
        // /* For Chrome and Safari */
        // -webkit-height: 63px;
        // /* For Opera */
        // -o-height: 63px;
        //training and eval color definitions
        &.training-and-eval {
            background-color: #6ec664;
            .coverage-desc {
                display: none;
            }
            &:hover {
                cursor: pointer;
                width: 100%;
                .coverage-desc {
                    font-size: x-large;
                    font-weight: bold;
                    display: block;
                    margin: 15px 7px 0 7px;
                }
            }
        }
        &.training-no-eval {
            background-color: #0066cc;
            .coverage-desc {
                display: none;
            }
            &:hover {
                cursor: pointer;
                width: 100%;
                .coverage-desc {
                    font-size: x-large;
                    font-weight: bold;
                    display: block;
                    margin-top: 15px;
                }
            }
        }
        &.eval-no-training {
            background-color: #f0ab00;
            .coverage-desc {
                display: none;
            }
            &:hover {
                cursor: pointer;
                width: 100%;
                .coverage-desc {
                    font-size: x-large;
                    font-weight: bold;
                    display: block;
                    margin-top: 15px;
                }
            }
        }
        &.no-coverage {
            background-color: #808080;
            .coverage-desc {
                display: none;
            }
            &:hover {
                cursor: pointer;
                width: 100%;
                .coverage-desc {
                    font-size: x-large;
                    font-weight: bold;
                    display: block;
                    margin-top: 15px;
                }
            }
        }
    }
    .mttl-table {
        flex: 1 1 auto;
        overflow-y: auto;
        min-width: 100%;
        // height: 100%;
    }
    .footer {
        flex: 0 1 40px;
        margin-bottom: 1rem;
    }
    .card-icon {
        font-size: large;
        font-weight: bolder;
        color: white;
    }
    .parent-child-card {
        text-align: left;
        h2 {
            font-size: medium;
            font-weight: bold;
            display: block;
            width: 100%;
        }
        hr {
            border: 0;
            clear: both;
            display: block;
            width: 90%;
            height: 1px;
        }
        &:hover {
            h2,
            p {
                color: #39a5dc;
            }
            cursor: pointer;
        }
    }
    .rel-link-card {
        text-align: center;
        min-width: max-content;
        width: 95%;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
        h2 {
            font-size: small;
            font-weight: bold;
            display: block;
            width: 90%;
            max-width: 80%;
            word-wrap: break-word !important;
        }
        a {
            font-size: small;
            font-weight: bold;
            display: block;
            width: 90%;
            color: none;
            max-width: 80%;
        }
        &:hover {
            color: #39a5dc;
            cursor: pointer;
        }
    }
    .card-info {
        &::-webkit-scrollbar-track {
            border: none;
        }
        height: 50px;
        max-height: 50px;
        overflow-y: scroll;
        border: none;
        opacity: 0.8;
        scrollbar-color: #808080 transparent;
    }
    .clickable-element:hover {
        color: #39a5dc !important;
        cursor: pointer !important;
    }
    a:hover,
    a:visited,
    a:link,
    a:active {
        text-decoration: none;
    }
    .plus-button {
        padding: 0;
        margin: 0;
    }
    .search-autocomplete {
        overflow-y: scroll;
        background-color: #808080;
        color: black;
    }
    .chip-list {
        font-family: 'Open Sans';
    }
    .carousel-caption {
        color: rgba(128, 128, 128, 0.75);
        transform: translate(60%, -100%);
    }
    .link-carousel-caption {
        float: right;
        display: relative;
        color: rgba(128, 128, 128, 0.75);
        transform: translate(0%, -25%);
    }
    .vert-divider {
        margin-left: 10px;
        margin-right: 15px;
        border-width: 1px;
        height: 90%;
    }
    #footer {
        // height: 100px;
        margin-left: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        .pagination-size {
            div {
                margin-left: 10px;
                display: inline;
            }
            .size-controller {
                float: right;
                width: 100px;
                margin-top: -7px;
                margin-left: 5px;
            }
        }
        .pagination {
            margin-top: 10px;
            .ngx-pagination .disabled {
                color: #808080;
            }

            li {
                background-color: inherit !important;
                color: inherit !important;
                border-radius: 10%;
                transition: transform 1s;
            }
            li a {
                background-color: inherit !important;
                color: inherit !important;
            }

            li span {
                color: inherit !important;
            }
            li:hover {
                color: #39a5dc !important;
            }

            .current {
                background-color: #00000025 !important;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        }
    }
    .loading-animator {
        position: absolute;
        top: 40%;
        right: 45%;

        .mat-spinner {
            left: 25%;
        }
        div {
            margin-top: 25px;
            font-size: 16;
            font-weight: bold;
            font-style: italic;
        }
    }
}

#paginate2id {
    position: float !important;
    float: left;
    margin: 0 auto;
    size: 0;
}
